body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url(images/restarount.jpg);
    
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-color: white;
    transition: 0.3s ease;
    scrollbar-width: none;
}

ul{
    list-style: none;
    color: rgb(255, 255, 255);
}
a{
    padding: 30px;
    font-size: larger;
    color: #fdfbfb;
    text-decoration: none;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,hwb(288 35% 7% / 0.63),hwb(221 5% 24% / 0.751));
}
nav ul{
    display: flex;
}
nav{
    display: flex;
}
ul li{
    padding-left: 60px;
}
#logo{
    padding-left: 20px;
    color: black;
    font-size: 30PX;
    font-weight: 10PX;

}
h1{
    position: absolute;
    top: 5px;
    margin-top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 30px;
  color: hsl(345, 100%, 50%); /* لون أزرق فاتح مريح */
    text-shadow: 0 0 15px #00e5ff;
    border-bottom: 3px solid #00e5ff;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;

}
.fb {
    color:#1877f2;
}
.wa {
    color: #25d366 ;
}
.ig { color:#E4405F;
}
.search{
    color: #E4405F;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    margin-top: 630px;
}

.icons a {
    text-decoration: none;
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #333;
    transition: 0.3s;
}


.icons::after{
    color:white;
    background: hsl(162, 84%, 61%);
    transition: 0.1s;
    
}
/* mmm kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk*/
.item{
    background-color: rgba(255, 219, 101, 0.571);
    display: flex;
    margin-top: 160px;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    text-align: center;
    color: white;
    border: 3px solid transparent;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}
.m1 a{
    display:block;
    color: #333;
    font-size: medium;
    font-weight: bold;
    border:3px solid cadetblue;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: azure;
    margin-top: 20px;
}
.m1 a:hover{
    color: hsl(349, 91%, 46%);
    transition: 0.2s;
}
.m1 a:active{
    color: dodgerblue;
    transition: 0.1s;
}
.m1 a::before{
    color: #25d366;
    transition: 0.1s;
}

.m2 a{
    display:block;
    color: #333;
    font-size: medium;
    font-weight: bold;
    border:3px solid cadetblue;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: azure;
    margin-top: 20px;
}